.form-control:focus {
	box-shadow: none;
}

.form-control-underlined {
	border-width: 0;
	border-bottom-width: 1px;
	border-radius: 0;
	padding-left: 0;
}

.form-control::placeholder {
	font-size: 0.8rem;
}

.boldFont {
	font-family: Metropolis-ExtraBold;
}

.card {
	border-radius: 4%;
}

.card-img-top {
	border-radius: 4% 4% 0 0;
}

.recipe-label {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 25px solid #888;
	border-top-color: rgba(0, 0, 0, 0.7);
	border-left: 85px solid transparent;
	border-radius: 0 15% 0 15%;
	padding: 0;
	background-color: transparent;
}

.recipe-label span {
	position: absolute;
	top: -20px;
	left: -63px;
	color: #fff;
}

.category {
	font-size: 0.5rem;
}

.description {
	font-size: 0.6rem;
}

@media ( min-width : 34em) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media ( min-width : 48em) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 62em) {
	.card-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}